<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Loundry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <Loundry.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DirectorioConf" serializeAs="String">
                <value>c:/sracsharp/Loundry/</value>
            </setting>
            <setting name="PathReport" serializeAs="String">
                <value>c:/sracsharp/Loundry/Loundry/Reportes/</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>Private</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>xx</value>
            </setting>
            <setting name="URLWSAA" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="URLWSW" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="afipcertificado" serializeAs="String">
                <value>c:/sracsharp/Loundry/key/certificado.pfx</value>
            </setting>
            <setting name="afippassword" serializeAs="String">
                <value>Bea</value>
            </setting>
            <setting name="afippadrona4" serializeAs="String">
                <value>ws_sr_padron_a4</value>
            </setting>
            <setting name="afipmodoproduccion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="afipptoventa" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="afipcaefac" serializeAs="String">
                <value>c:\sracsharp\Loundry\Tmp\Caefac</value>
            </setting>
            <setting name="afipfacttmp" serializeAs="String">
                <value>c:\sracsharp\Loundry\Tmp\Duplicados\</value>
            </setting>
            <setting name="conf" serializeAs="String">
                <value>conf.xml</value>
            </setting>
            <setting name="afipcaenc" serializeAs="String">
                <value>c:\sracsharp\Loundry\Tmp\Caenc</value>
            </setting>
            <setting name="Backup" serializeAs="String">
                <value>Loundry</value>
            </setting>
            <setting name="FtpCarpeta" serializeAs="String">
                <value>\var\www\html\instala\Loundry\Reportes\</value>
            </setting>
            <setting name="FtpSubeDesde" serializeAs="String">
                <value>c:\\sracsharp\\Loundry\\ReporteSube\\</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v: 21.08.19.0</value>
            </setting>
            <setting name="Qr" serializeAs="String">
                <value>c:\\sracsharp\\Loundry\\Tmp\\qr.png</value>
            </setting>
            <setting name="Gif" serializeAs="String">
                <value>c:\sracsharp\Loundry\Loundry\giflavarropas.gif</value>
            </setting>
        </Loundry.Properties.Settings>
    </userSettings>
</configuration>
